@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

//Variables

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$gray-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main-container {
        max-width: 311px;
        margin: 1rem;
        padding: 1rem;
        background-color: $white;
        border-radius: 1.5rem;
        img {
            width: 100%;
            border-radius: .7rem;
        }
        .main__txt-container {
            padding: 0 1rem;
            text-align: center;
            h1 {
                font-size: 1.4rem;
                color: $dark-blue;
            }
            p {
                color: $gray-blue;
                font-weight: 400;
            }
        }
    }
}

